@()

@main("Business Search") {
	
	<script type="text/javascript">
		$(document).ready(function() {
			if(navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(doSearch, handleError);
			}
			else {
				$("#errorMsg").empty().append("Geolocation is not supported by this browser.");
			}
		});
		
		function doSearch(position) {
			console.log(position.coords.latitude);
			console.log(position.coords.longitude);
			
			$.ajax({
				url: '@routes.Businesses.findNearestBusinesses',
				type: 'POST',
				data: {
					latitude: position.coords.latitude,
					longitude: position.coords.longitude
				},
				success: function(json) {
					var businesses = eval('('+ json +')');
					
					for(var b = 0; b < businesses.length; b++) {
						$("#business-table-data").append(
								"<tr><td>" + businesses[b].business.name + "</td><td>" + 
								businesses[b].business.website + "</td><td>" +
								businesses[b].address.location + "</td></tr>"
						);
					}
					
				},
				error: function(resp) {
					$("#errorMsg").empty().append(resp);
				}
			});
		}
		
		function handleError(error) {
			var errorMsg;
			
			switch(error.code) {
		    	case error.PERMISSION_DENIED:
		    		errorMsg = "User denied the request for Geolocation."
		    		break;
		    	case error.POSITION_UNAVAILABLE:
		    		errorMsg = "Location information is unavailable."
		    		break;
		    	case error.TIMEOUT:
		    		errorMsg = "The request to get user location timed out."
		    		break;
		    	case error.UNKNOWN_ERROR:
		    		errorMsg = "An unknown error occurred."
		    		break;
    		}		
			
			$("#errorMsg").empty().append(errorMsg);
		}
	</script>
	
	<div id="errorMsg"></div>

	<table id="business-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Website</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody id="business-table-data">
		</tbody>
	</table>

	<script src="@routes.Assets.at("javascripts/geolocationHelper.js")" type="text/javascript"></script>	 

}