@main("Home Honer") {
    
    <h2>User Sign up form</h2>
    
    <p>
        Sign up form for new users.
    </p>
    
    <p>
        <a class="btn" href="@routes.Users.form">User sign up form.</a>
    </p>
    
    <h2>Business Sign up form</h2>
    
    <p>
        Sign up form for new businesses.
    </p>
    
    <p>
    	<a class="btn" href="@routes.Businesses.form">Business sign up form.</a>
    </p>
    
     <p>
        Search for nearest businesses.
    </p>
    
    <p>
    	<a class="btn" href="@routes.Businesses.search">Find local businesses.</a>
    </p>
    
}