@(title: String, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ought-bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div class="container-narrow">
	       	<div class="masthead">
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="@routes.Application.home">Home</a></li>
					<li><a href="@routes.Application.about">About</a><li>
					<li><a href="@routes.Application.blog">Blog</a>
					<li><a href="@routes.Application.contact">Contact</a></li>
				</ul>
				<h3 class="muted"><a href="@routes.Application.splash">OUGHT</a></h3>
			</div>
			
			<hr>
	
	        @content
	
			<hr>
			
	        <div class="footer">
				<p>&copy; Ought 2013</p>
			</div>
		</div>
    </body>
</html>
