@()

@main("Ought") {
	<div class="jumbotron">
		<h1>Ought to get serious about cleaning?</h1>
		<!--  <p class="lead">Be one of the first to use Ought to find a reliable, efficient house cleaner today!</p> -->
		<p></p>
		<a class="btn btn-large btn-success" href="@routes.Users.form">Sign Up Now!</a>
	</div>
	
	<hr>
	
	<div class="row-fluid marketing">
		<div class="span6">
			<h4>To Tidy Up?</h4>
			<p>Location, Service, or Name-based search for those looking to tidy up their dwelling.</p>
		</div>
		<div class="span6">			
			<h4>To Get Yourself Out There?</h4>
			<p>Business profile page options to list services, areas served, and some helpful </p>
		</div>
	</div>
}