@()

@main("Ought") {

    <div class="jumbotron">
      <h1>Date My Dwelling</h1>
      <p class="lead">
          <img class="img-circle" src="@routes.Assets.at("images/user-splash-icon.png")">
          Post your address and services required and we'll match you with a cleaner!
          <br/>
          <a href="@routes.Users.signup" role="button" class="btn btn-large btn-success">User Signup</a>
      </p>
      <p class="lead">
          <img class="img-circle" src="@routes.Assets.at("images/business-splash-icon.png")"/>
          Find new clientele anxious for you to clean them up!
          <br/>
          <a href="@routes.Businesses.signup" role="button" class="btn btn-large btn-success">Business Signup</a>
      </p>
   </div>
}